@model GoToCinema.Models.DomainModels.Cinema

@{
    ViewBag.Title = "Удаление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="heading">@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-outline-danger btn-danger"  />
        </div>

        <div class="container-1">
            <a href="/Cinemas/Index" id="backToList" class="btn btn-info">Вернуться на главную</a>
        </div>
    }
</div>

