@using GoToCinema.Models.DomainModels
@using GoToCinema.Models.DomainModels.Enums
@model BookingViewModel
@{
    ViewBag.Title = "GetBookingPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sessionId = 0;
    string rowName = "A";
    
}
<br />
@Styles.Render("~/Content/MyStyles/Styles.css")
<form action="/Cinemas/GetBookingPage" method="post">
    <div>
        @foreach (var sessionseat in Model.SessionSeats)
        {
            if (sessionseat.UserId == ViewBag.UserId)
            {
                if (sessionseat.SeatState == SeatState.Booked)
                {
                    <label>
                        <input type="checkbox" class="bookedMe" />
                        <span class="fakeBookedMe"></span>
                    </label>
                }
                else if (sessionseat.SeatState == SeatState.Bought)
                {
                    <label>
                        <input type="checkbox" class="boughtMe" />
                        <span class="fakeBoughtMe"></span>
                    </label>
                }
                else
                {
                    <label class="label">
                        <input type="checkbox" class="free" name="seatIds" value="@sessionseat.SeatId" />
                        <span class="fakeFree"></span>
                    </label>

                }
            }
            else
            {
                if (sessionseat.SeatState == SeatState.Bought || sessionseat.SeatState == SeatState.Booked)
                {
                    <label>
                        <input type="checkbox" class="busy" />
                        <span class="fakeBusy"></span>
                    </label>


                }
                else
                {
                    <label class="label">
                        <input type="checkbox" class="free" name="seatIds" value="@sessionseat.SeatId" />
                        <span class="fakeFree"></span>
                    </label>

                }
            }
            sessionId = sessionseat.SessionId;
            if (rowName != sessionseat.Row.RowName)
            {
                <br />
                rowName = sessionseat.Row.RowName;
            }
        }
    </div>
    <div class="screen">Экран</div>
    <input type="hidden" class="btn-default" name="sessionId" value="@sessionId" />
    <input type="submit" class="btn btn-primary" name="action" value="Бронировать" />
    <input type="submit" class="btn btn-info" name="action" value="Купить" />
</form>
       
<script type="text/javascript">
    $("#bookedMe").click(function () { return false;})
</script>