@model IEnumerable<GoToCinema.Models.DomainModels.Cinema>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/MyStyles/CinemaStyles.css")

@if (User.IsInRole("admin"))
{
    <div>
        <button class="btn btn-outline-primary" onclick="location.href='/Cinemas/Create'" style="margin:10px;">Добавить</button>
    </div>
}

@foreach (var item in Model)
{
    <div class="cinema-item" onclick="location.href = '/Cinemas/Details/@item.Id'">
        <div class="image">
            @if (item.Image != null)
            {
                <img class="cinemaImage" onclick="location.href = '/Cinemas/Details/@item.Id'" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Image)" />
            }
            <h2 class="text-center title"><span class="text-center titleStyle">@item.Name</span></h2>
        </div>
    </div>
}
