body {
}

.label{}

.free{
    display:none;
}

.fakeFree {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #000000;
    border-radius:3px;
    position:relative;
    color:transparent;      
}

.fakeFree::before {
    content: '';
    display: block;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: lightseagreen;
    border: 1px solid lightseagreen;
    opacity:0;
    transition:.3s;
}

.free:checked + .fakeFree::before{
    opacity:1;
}

.busy{
    display:none;
}

.fakeBusy {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid grey;
    background-color: grey;
    border-radius: 3px;
    margin-left:6px;
    margin-right:6px;   
}

.bookedMe {
    display:none;
}

.fakeBookedMe {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid orange;
    background-color: orange;
    border-radius: 3px;
    margin-left: 6px;
    margin-right: 6px;
}

.boughtMe{
    display:none;
}

.fakeBoughtMe {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid green;
    background-color: green;
    border-radius: 3px;
    margin-left: 6px;
    margin-right: 6px;
}

.screen{
    width:200px;
    height:20px;
    color:white;
    background-color:grey;
    margin:10px;
}