@model GoToCinema.Models.DomainModels.Seat

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="heading">Информация</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Row.RowName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Row.RowName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatNumber)
        </dd>

    </dl>
</div>


<div class="container-1">
    <a href="/Seats/Index" id="backToList" class="btn btn-info">Вернуться на главную</a>
</div>