@model IEnumerable<GoToCinema.Models.DomainModels.Seat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="heading">Места</h2>
@if (User.IsInRole("admin"))
{
    <div>
        <button class="btn btn-outline-primary" onclick="location.href='/Seats/Create'" style="margin:10px;">Добавить ряд</button>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Row.RowName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Row.RowName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SeatNumber)
    </td>
    @if (User.IsInRole("admin"))
    {
        <td>
            <a href="/Seats/Edit/@item.Id" class="btn btn-outline-primary">Изменить</a>
            <a href="/Seats/Details/@item.Id" class="btn btn-outline-primary">Информация</a>
            <a href="/Seats/Delete/@item.Id" class="btn btn-outline-danger btn-danger">Удалить</a>
        </td>
    }
    else
    {
    }
</tr>
    }

</table>
