@model IEnumerable<GoToCinema.Models.DomainModels.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/MyStyles/MovieStyles.css")
@if (User.IsInRole("admin"))
{
    <div>
        <button class="btn btn-outline-primary" onclick="location.href='/Movies/Create'" style="margin:10px;">Добавить фильм</button>
    </div>
}
@foreach (var item in Model)
{
    
    if (item.Image != null)
    {
        <div class="movieDiv">
            <img class="movieImage" onclick="location.href = '/Movies/Details/@item.Id'" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Image)" />
        </div>
    }
    
}
